<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>VueJS Basic</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ message }}</h1>
                <hr/>
                <form action="">
                    <h2>Simple text</h2>
                    <div class="form-group">
                        <input type="text" id="simpleTextInput" class="form-control" v-model="message"/>
                    </div>
                    <hr/>
                    <h2>Check box inputs</h2>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="check1" v-model="checkValue">
                            Check option 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="check2" v-model="checkValue">
                            Check option 2
                        </label>
                    </div>
                    {{ checkValue }}
                    <hr/>
                    <h2>Radio inputs</h2>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" v-model="radioCheck">
                            Option 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" v-model="radioCheck">
                            Option 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" v-model="radioCheck">
                            Option 3
                        </label>
                    </div>
                    {{ radioCheck }}
                    <hr/>
                    <h2>Select box</h2>
                    <select class="form-control" v-model="selectValue">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    {{ selectValue }}
                    <h2>Multiple select box</h2>
                    <select class="form-control" v-model="selectMultipleValue" multiple>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    {{ selectMultipleValue }}
                    <hr/>
                    <h2>Textarea</h2>
                    <div class="form-group">
                        <textarea v-model="textarea" id="textarea" class="form-control"></textarea>
                        <p style="white-space: pre">{{ textarea }}</p>
                    </div>
                    <input type="submit" value="submit" class="btn btn-default"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
<script>

//    var data = {
//      message: 'Text here'
//    };
//
//    var el = document.getElementById('#simpleTextInput');
//    document.querySelector('#simpleTextInput').value = data.message;


    var vue = new Vue({
        el: '#app',
        data: {
            message: 'Hello from Vue 2.0!',
            radioCheck: 'option2',
            checkValue: ['check2'],
            selectValue: '2',
            textarea: '',
            selectMultipleValue: []
        }
    });
</script>
</body>
</html>